.App {
  background-color: black;
  color: #ffebcd;
  word-wrap: break-word;
  font-size: 30px;

  width: 99vw;
  height: 99vh;
  margin: 0 !important;
  padding: 0 !important;

  display: flex;
  align-items: center;
  justify-content: center;
}
