.App {
  background-color: black;
  color: #ffebcd;
  word-wrap: break-word !important;
  font-size: 30px;

  width: 100vw;
  height: 100vh;
  margin: 0 auto !important;
  padding: 0s !important;

  display: flex;
  align-items: center;
  justify-content: center;
}
.countdown {
  width: 88%;
}
